{% extends "index.html" %}
{% block title %}Lista zadań{% endblock %}

{% block tabela %}
<div class="display-2">
	<p>TERMINARZ</p>
	<a href=" {{ url_for('add_task') }} ">
		<button type="button" class="btn btn-primary btn-sm">Nowe zadanie</button>
	</a>
</div>

<div>
	<table class="table table-hover table-striped">
		<tr>
        	<th>Nazwa zadania</th>
        	<th>Termin</th>
        	<th>Opis</th>
        	<th></th>
    	</tr>
    <!-- ----------------------------	POBRANIE REKORDÓW ------------------------	-->

		{% for dane in records %}

			<tr>
				<td class='data tdLink'><a href="{{ url_for('show_task', task_id = dane.id) }}">{{ dane.name }}</a></td>
				<td class='data'>{{ dane.date }}</td>
				<td>{{ dane.description }}</td>
				<td><a href="{{ url_for('delete_task', task_id=dane.id) }}"><i class="bi bi-trash3"></i></a></td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}